// html{
//     overflow-x: hidden;
// }
// body{
//     overflow-x: hidden;
// }
.bg-primary{
    background: #7CB9E8!important;
}


#sidBarCss {
    width: 100%;
    ul {
        font-size: 100;

        img {
            margin-bottom: 10px;
        }

        li {
            padding: 10px;
            margin-bottom: 10px;

            a {

                color: white;
                letter-spacing: 1px;
                font-weight: 600;
                margin: 0px 10px 5px 0px;
                text-decoration: none;

                :active {
                    color: greenyellow;
                }

                :hover {
                    color: hotpink;

                    text-decoration: underline;
                    display: inline-block;
                    position: relative;

                }

                :visited {
                    color: aqua;
                }

            }

        }
    }

    min-height: 100vh;
}


b {
    box-shadow: 0 8px 6px -6px black;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: larger;
    margin-left: 30%;
    text-align: center;
}

.content1 {
    display: none;
    position: absolute;
    left: 300px;
    border-radius: 3px;
    position: absolute;
    background-color: #f1f1f1;
    color: red;
}

body {
    button {
        border-radius: 20px !important;
    }
}